chroma-hnswlib==0.7.1
chromadb==0.4.3
folium==0.14.0
langchain==0.0.240
numpy==1.25.1
openai==0.27.8
PyKakao==0.0.4
requests==2.31.0
streamlit==1.25.0
streamlit-elements==0.1.0 
streamlit-extras==0.2.7 
streamlit-folium==0.13.0 
streamlit-image-select==0.6.0 
streamlit-js-eval==0.1.5 
streamlit-scrollable-textbox==0.0.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2 
tiktoken==0.4.0
tokenizers==0.13.3
toml==0.10.2
pysqlite3-binary
